@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500,600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	height: 100%;
	padding: 40px 0 0;
	scroll-behavior: smooth;
}

.fade-enter-active, .fade-leave-active {
	transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
	opacity: 0;
}

.bg-brown-500 {
	background-color: #D9D9D9;
}

/* DO NOT COPY */
/* html {
	background-color: #EDF2F7;
} */